body {
  /* background-color: darkblue; */
  font-size: 20px;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#controls button{
  color: darkblue;
  background-color: cornflowerblue;
  border-radius: 10px;  
  border-color: black;
  font-size: 20px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

.bgimage{
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;
}